<div class="page-header">
	<h1><%= Constants::ABOUT_TITLE %></h1>
</div>

<div><%= @myInfo && @myInfo.content %></div>

<% if (loggedIn?) %>
	<div class="page-footer">
		<button class="btn btn-large btn-primary" onclick="window.location = '<%= home_about_edit_path %>'"><%= Constants::EDIT_ABOUT_BUTTON %></button>
	</div>
<% end %>