<div class="page-header">
	<h1>About</h1>
</div>

<div><%= @myInfo.content %><div>

<div class="footer">
	<button class="btn btn-large btn-primary" onclick="window.location = '<%= home_about_edit_path %>'">Edit</button>
</div>