<div class="page-header">
	<h1>Contact</h1>
</div>

<div><%= @myInfo.content %></div>

<div class="page-footer">
	<button class="btn btn-large btn-primary" onclick="window.location = '<%= home_contact_edit_path %>'">Edit</button>
</div>