@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 50px;

  .navbar {
  	background: #f5f5f5;

  	.nav {
  		li {
  	 		a:hover, a:focus {
  				color: black;
  			}
  	  	}
  	}

  	.navbar-header {
  		 a:hover, a:focus {
  			color: black;
  		}
  	}
  }

  .starter-template {
  	padding: 40px 15px;
  	text-align: center;
  }

  .container {
  	min-width: 678px;
  	max-width: 978px;
  	margin:auto;
  }
}
