$error-color: #a94442;

body {
  padding-top: 50px;

  .navbar {
  	background: #f5f5f5;

  	.nav {
  		li {
  	 		a:hover, a:focus {
  				color: black;
  			}
  	  	}
  	}

  	.navbar-header {
  		 a:hover, a:focus {
  			color: black;
  		}
  	}
  }

  .container {
  	min-width: 678px;
  	max-width: 978px;
  	margin:auto;
  }

  .form-control.name {
    width: 15%
  }

  .page-footer {
    padding-top:20px;

    form {
      width: auto;
      float: left;
      margin-right: 10px;
    }
  }

  .error li {
    color: $error-color;
  }

  .field_with_errors {
    input, textarea {
      border-color: $error-color
    }
  }
}